@model Streamliner.Models.AccountViewModel
@{
    ViewData["Title"] = "Create Account";
}
<h4>Create Account</h4>
<!-- The validation summary will include any errors with the password or user creation -->
<div asp-validation-summary=" All"></div>
<form asp-action="CreateAccount" method="post">
    <p>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
    </p>
    <p>
        <label asp-for="AccountType">Account Type:</label>
        <input asp-for="AccountType" />
    </p>
    <p>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </p>
    <p>
        <button type="submit">Create</button>
    </p>
    <a asp-action="ShowAccounts">Show Users</a><br />
    <a asp-action="Index">Cancel</a>
</form>