@{
    ViewData["Title"] = "Admin";
}

<h2>Admin Page</h2>
<br>
<h3>User Accounts</h3>
<a asp-action="ShowAccounts">Show Users</a><br />
<a asp-action="CreateAccount">Create Account</a><br>
<br>
<h3>User Roles</h3>
<a asp-action="ShowRoles">Show Roles</a><br>
<a asp-action="CreateRole">Create Role</a><br>
<br>