@model Streamliner.Models.Kiddo
@{
    ViewData["Title"] = "Kiddo";
}
<div>
    <form method="post">
        <div>
            <label for="Name">Name</label><br />
            <input name="name" value="@Model.Name" />
        </div>
        <input name="authorid" value="@Model.KiddoID" type="hidden" />
        <input name="bookid" value="@Model.TaskID" type="hidden" />
        <div>
            <input type="submit" value="Enter" class="btn btn-success" />
        </div>
    </form>
</div>
<p>
    <a asp-action="Index">Back</a>
</p>