@{
    ViewData["Title"] = "Admin";
}

<h4>Admin Page</h4>
<h3>Accounts</h3>
<a class="btn btn-info" href="Admin/ShowAccounts" role="button">Show All Accounts (disabled)</a>
<a class="btn btn-info" href="CreateAccount" role="button">Create Account</a>
<h3>Roles</h3>
<a class="btn btn-info" href="ShowRoles" role="button">Show Roles (disabled)</a>
<a class="btn btn-info" href="CreateRole" role="button">Create Role</a>

@*<a asp-action="ShowRoles">Show all Roles</a><br>
<a asp-action="CreateRole">Create Role</a><br>*@
<br>
 