@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div>
        <h1>Welcome to Magic Pony Sparkle Land!</h1>
        <h4>Here's some general information about the community and the purpose of this site.</h4>
    </div>
    <ul>
        <li><a href="Home/History">History</a></li>
        <li><a href="Home/ContactForm">Contact</a></li> 
        <li><a href="Home/Map">Map</a></li>
        <li><a href="Home/Info">Info</a></li>
        <li><a href="Quiz/Quiz">Quiz</a></li>
    </ul>
</body>
</html>
