@model List<Streamline.Models.Kiddo>

<!DOCTYPE html>
<html>
<head>
    <title>Kiddo List</title>
</head>
<body>
    <h1>List of Kiddos</h1>
    @foreach (var k in Model)
    {
        @:Name: @k.Name <br />
        foreach (var t in k.Tasks)
        {
            @:Task: @t.Description <br />
            @:Category: @t.Category <br />
        }
        <br />
    }
</body>
</html>
