@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div>
        <h1>Welcome to Magic Pony Sparkle Land!</h1>
        <h4>Here's some general information about the community and the purpose of this site.</h4>
    </div>
    <img src="~/images/magicPony.png" class="img-fluid"><br>
    <div>
        <a class="btn btn-info btn-lg" href="Home/History" role="button">History</a>
        <a class="btn btn-info btn-lg" href="Home/Info" role="button">Info</a>
        <a class="btn btn-info btn-lg" href="Home/Map" role="button">Map</a>
        <a class="btn btn-info btn-lg" href="Quiz/Quiz" role="button">Quiz</a>
        <a class="btn btn-info btn-lg" href="Message/Add" role="button">Contact</a>
        <a class="btn btn-info btn-lg" href="Admin/Index" role="button">Admin</a>
        <a class="btn btn-info btn-lg" href="Account/Login" role="button">Login</a>
    </div>
</body>
</html>
